


.App-header {
  background: #1850BC;
  height: 100px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  border-radius:10px;
  align-items: center;
}

.formInput{
  margin-top: 10px;
  text-align: center;
  border-radius: 25px;
}

.localisation{
  display: flex;
  border-radius: 10px;
  background-color: #52977A;  
  margin-top: 10px;
  padding:30px 10px;
  justify-content: center;
  flex-wrap: wrap;

}
.infolocal{
  flex:4;
  flex-direction: column;
  padding-left: 40px;
  font-size: 20px;
 
}



.meteo{
  background-color: #E5E5E5;
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  justify-content:space-around;
  border-radius: 10px;
  padding: 30px 0px 30px;
  flex-wrap: wrap;
  margin-top: 10px;
  align-items:center;
}
.meteoItems{
  background-color: white;
  width:150px;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 0 -10px;
  text-align: center;
}

.meteoItems img{
align-self: center;
width: 36px;
height: 31px;
border-radius: 228.5px;
margin-bottom: 15px;

}
.separateur{
  border-left: 2px solid #000;
  display: inline-block;
  height: 150px;
  margin: 0 20px;
}

.sun{
display: flex;
justify-content:center;
flex-direction: row;
width: 40%;
}
.sunset,.sunrise{
 
  display: inline-flex;
  width: 120px;
  height: 120px;
  border-radius: 228.5px;
  margin-bottom: 5px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
} 

.sunrise{
  margin-left: 50px;
}
